/*-------------*/
/* Google Font */
/*-------------*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*--------------*/
/* Global stuff */
/*--------------*/
html,body {
	margin: 0;
	padding: 0;
	font: 300 16px/1.5 'Open Sans', Arial, sans-serif;
	background: #fff;
	color: #555;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

a {
	-webkit-transition: color .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
	color: inherit;
}

h1, h2, p { margin-top: 0; }

section {
	padding: 30px;
}
article {
	width: 500px;
}

/*-----------------------*/
/* Pages specific styles */
/*-----------------------*/
#home {
	margin-top: -13px;
	width: 700px; 
}
#home h1,
#home h2 {
	font: 300 4em/1.2 'Open Sans', Arial, sans-serif;
	letter-spacing: -.05em;
	margin-bottom: 0;
}

/*-----------------*/
/* Misc. & Helpers */
/*-----------------*/
::selection {
	background: #2e2e2e;
	color: #e5e5e5;
	text-shadow: none;
}
::-moz-selection {
	background: #2e2e2e;
	color: #e5e5e5;
	text-shadow: none;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.cf:before,
.clearfix:before,
.cf:after,
.clearfix:after{
	display: table;
	content: "";
	zoom: 1;
	*display: inline;
}
.cf,.clearfix{ zoom: 1; }
.cf:after,.clearfix:after{ clear: both }

.hidden { display: none; }

.fl { float: left; }
.fr { float: right; }

/*----------------*/
/* Responsiveness */
/*----------------*/

@media (max-width: 915px) {
	html, body {
		font-size:12px;
		height:100%;
		position:relative;
	}
	section{
		width: auto;
		clear: both;
		margin: 0;
		padding: 5%;
	}
	#home,
	article{
		width:auto;
		padding-bottom: 5%;
	}
}
