<nav class="no-select">
	<ul>
		<li>
		{% if page.title %}
			<a href="/">home</a>
		{% else %}
			<a href="/" class="active">/</a>
		{% endif %}
		</li>
	</ul>
	<ul>
{% for node in site.pages %}
	{% if node.title %}
		{% if page.url == node.url || (page.url contains 'blog' && node.url contains 'blog')  %}
			<li class="active"><a href="{{node.url | remove:'index.html' }}" class="active">/{{node.title}}</a></li>
		{% else %}
			<li><a href="{{node.url | remove:'index.html' }}">{{node.title}}</a></li>
		{% endif %}
	{% endif %}
{% endfor %}
	</ul>
	<ul class="links">
		<li>
			<a href="//twitter.com/jeremybenaim/" target="_blank" class="twitter">twitter</a>
		</li>
		<li>
			<a href="//us.viadeo.com/en/profile/jeremy.benaim/" target="_blank" class="viadeo">viadeo</a>
		</li>
		<li>
			<a href="//linkedin.com/profile/view?id=92911207/" target="_blank" class="linkedin">linkedin</a>
		</li>
		<li>
			<a href="//github.com/jeremybenaim/" target="_blank" class="github">github</a>
		</li>
		<li>
			<a href="#" data-url="//www.youtube.com/watch/?v=oHg5SJYRHA0" onClick="_gaq.push(['_trackEvent', 'Nav', 'Rickrolled']); window.open(this.getAttribute('data-url'),'_blank'); return false;" class="myspace">myspace</a>
		</li>
	</ul>
</nav>
