<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<title>{{ page.title }} - blog - jeremybenaim.com</title>
	
	<meta name="description" content="jeremybenaim.com - webdesign and development">
	<meta name="author" content="Jeremy Benaim">

	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	<script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-4964213-5']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<aside>
		{% include nav.html %}
	</aside>

	<section>
		<article class="post">
			<header>
				<h1>{{ page.title }}</h1>
				<small>{{ page.date | date_to_string }}</small>
			</header>
			{{ content }}
		</article>
	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="/js/harvey.js" type="text/javascript"></script>
	<script>
		(function() {
		  var q;

		  q=Harvey.attach('screen and (max-width:915px)', {
		  	setup: function(){
		      return window.scrollTo(0,76);
		  	},
		    on: function() {
		      return window.scrollTo(0,76);
		    },
		    off: function() {
		      return window.scrollTo(0,0);
		    }
		  });
		}).call(this);
	</script>
</body>
</html>